* text=auto

*.h text
*.hpp text
*.c text
*.cpp text
*.tab text
*.yy text
*.as text
*.txt text

*.sln eol=crlf
*.vcproj eol=crlf

*.png binary
*.jpg binary
*.gif binary
*.bmp binary
