# Compiled object files
*.slo
*.lo
*.o
*.obj
*.elf
*.ko

# Generated precompiled headers
*.gch
*.pch

# Compiled dynamic libraries
#.so
#.so.*
#*.dylib


# Compiled static libraries
#*.lai
#*.la
#*.lib
#*.lo
#*.a

# Generated executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Generated buidl directories
/[Dd]ebug/
/*.dir/
[Dd]ebugPublic/
[Rr]elease/
[Rr]elWithDebInfo/
[Rr]eleases/
[Ee]nc_temp_folder/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Bb]uild/
build*/
.git/
.git - Copy/
src - Copy/
src - Copy (1)/
src - Copy (2)/
src - Copy (3)/
src - Copy (4)/
src - Copy (5)/
src - Copy (6)/
src - Copy (7)/
src - Copy (8)/
src - Copy (9)/
src - Copy (10)/
node_modules
/timidity/soundfont-pats

CMakeFiles/

# Debug based files.
*.dSYM/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
.userprefs

# Visual Studio based files
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
*.sap
*.vcproj
*.sln
.vs/*
*.vcxproj*
Win32/*
*.bak
.vscode

# Emacs files
.dir-locals.el
.#*
\#*#

# Misc files
*.gcda
makefile.inc

# Allegro Files
_deps
*.dir
third_party/allegro_legacy/lib
third_party/allegro_legacy/include/allegro/platform/alplatf.h

# Generated CMake Files.
/allegro/CMakeCache.txt
/allegro/CMakeFiles/
/allegro/Makefile
/allegro/cmake_install.cmake
CmakeCache.*
cmake_install.cmake

# Bison
/src/parser/y.output

# Package generation
*.dmg
resources/docs/ZScript_Docs.html

# Other
.tmp
dist
*.zplay.roundtrip
*.zplay.result.txt
*.zplay.*.bmp
*.zplay.*.png
test_results.json
compare-report/
.coverage
.gha-cache-dir/
__pycache__
./packages/
resources/modules/classic/fontsdat
output/
changelogs/nightly.txt
src/base/version_header.h
venv
*.log
ZQ_BUFFER

api_server/secrets.sh

docs-www/source/zscript/globals
docs-www/source/zscript/classes
docs-www/source/zscript/libs
docs-www/source/zscript/index.rst
docs-www/source/_static/highlight-11.11.1.min.js
.sentry-native
*.tsbuildinfo
resources/out.zasm
resources/includepaths.txt
.aider*
