* text=auto !eol

*.h text
*.hpp text
*.c text
*.cpp text
*.tab text
*.yy text
*.txt text
*.as text
*.z text
*.zh text

*.sln eol=crlf
*.vcproj eol=crlf

*.png binary
*.jpg binary
*.gif binary
*.bmp binary
