html {
    --pst-header-height: 5rem;
}

.navbar-brand img {
    padding: 3px;
}

.bd-main .bd-content .bd-article-container {
    max-width: 100%;
}

.bd-sidebar-primary {
    max-width: 230px;
}

.bd-page-width {
  max-width: 100%; /* default is 88rem */
}

.classref-enumeration-constant, .classref-comment {
    margin-left: 30px;
    margin-bottom: 5px;
}

.classref-enumeration-constant+.classref-comment {
    margin-left: 60px;
}

.toctree-grid ul {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
}

.del {
    text-decoration: line-through;
}

a.reference[href^="https://github.com"]:not(.github) {
    font-size: 11px;
}

/* Customized admonition class */
.admonition.admonition-plans,
div.admonition.admonition-plans {
	border-color: var(--pst-color-accent);
}
.admonition.admonition-plans>.admonition-title,
div.admonition.admonition-plans>.admonition-title {
	background-color: var(--pst-color-accent-bg);
}
.admonition.admonition-plans>.admonition-title:after,
div.admonition.admonition-plans>.admonition-title:after {
	color: var(--pst-color-accent);
	content: 'â©';
}

/* The default margin just adds a bunch of empty space... */
pre.hljs {
	margin: 0;
}

/* Without this, some elements in footers don't
   actually look like part of the footer. */
.footnote > pre.hljs,
.footnote > details.sd-dropdown {
	margin: 0 0 0 25px;
}

/* Why does versionremoved look so different by default?
   This should make it match the others in style... */
div.versionremoved {
	background-color: var(--pst-color-on-background);
	border-left: .2rem solid;
	border-color: var(--pst-color-info);
	border-radius: .25rem;
	box-shadow: 0 .2rem .5rem var(--pst-color-shadow),0 0 .0625rem var(--pst-color-shadow)!important;
	break-inside: avoid;
	margin: 1.5625em auto;
	overflow: hidden;
	padding: 0 .6rem;
	page-break-inside: avoid;
	position: relative;
	vertical-align: middle;
}
div.versionremoved {
	background-color: var(--pst-color-info-bg);
	border-color: var(--pst-color-info);
}
div.versionremoved > p {
	margin-top: .6rem;
}
span.versionmodified.removed::before {
	color: var(--pst-color-info);
}
