name: "Update database"
on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * *"

jobs:
  update-database:
    if: github.repository == 'ZQuestClassic/ZQuestClassic'
    runs-on: ubuntu-latest
    steps:
      # PZC will generate date strings based on the timezone, so keep it consistent by using PT.
      - name: Set timezone
        run: sudo timedatectl set-timezone America/Los_Angeles

      - run: sudo apt-get update && sudo apt-get install libopengl0 libglu1

      - name: Setup s3cmd
        uses: s3-actions/s3cmd@4e3a53c3e9313f573ff3f69aec7a772366f2f8f5
        with:
          provider: digitalocean
          region: nyc3
          access_key: ${{ secrets.S3_ACCESS_KEY }}
          secret_key: ${{ secrets.S3_SECRET_KEY }}

      - name: Install Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: git clone
        uses: actions/checkout@v3
        with:
          # Need for bisect_builds.py --download to work.
          fetch-depth: 0

      - name: cache
        uses: actions/cache@v3
        with:
          path: .tmp/releases
          key: db-cache
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11.4'
      - run: pip install requests PyGithub==1.58.2 requests discord.py watchdog Pillow intervaltree cutie joblib
      - run: python scripts/bisect_builds.py --download 2.55-alpha-120 --token ${{ secrets.GITHUB_TOKEN }}

      - run: npm install
        working-directory: scripts/database
      - run: npm run collect
        working-directory: scripts/database
        env:
          OFFICIAL: true
          PZC_UN: ${{ secrets.PZC_UN }}
          PZC_PW: ${{ secrets.PZC_PW }}
