name: Test
run-name: Test (${{ inputs.runs-on }}, ${{ inputs.arch }}) ${{ inputs.extra-args }}

on:
  workflow_dispatch:
    inputs:
      runs-on:
        type: string
        description: 'runs-on'
      arch:
        type: string
        description: 'arch'
      compiler:
        type: string
        description: 'compiler'
      config:
        type: choice
        description: 'config'
        default: 'Release'
        options: ['Release', 'Debug', 'RelWithDebInfo', 'Coverage', 'Asan']
      extra-args:
        type: string
        description: 'extra-args'
  workflow_call:
    inputs:
      runs-on:
        type: string
        required: true
      arch:
        type: string
        required: true
      compiler:
        type: string
        required: true
      config:
        type: string
        required: true
      extra-args:
        type: string
      from-ci-workflow:
        type: boolean
    secrets:
      GH_PAT_ZSCRIPT_DATABASE:
        required: true

env:
  PYTHONUNBUFFERED: '1'

jobs:
  # Get the LFS cache ready. This avoids every shard of each environment downloading the LFS objects
  # at the same time on any change, which is bad for quota.
  warm-lfs-cache:
    runs-on: ubuntu-latest
    steps:
      - name: git clone
        uses: connorjclark/action-cached-lfs-checkout@e9e548e0068e62830582e21febff8da4bd4e8ca5
        with:
          enableCrossOsArchive: true

  build:
    needs: warm-lfs-cache
    # See https://github.com/community/community/discussions/40777
    # uses: ./.github/workflows/build.yml
    uses: ZQuestClassic/ZQuestClassic/.github/workflows/build.yml@main
    with:
      runs-on: ${{ inputs.runs-on }}
      arch: ${{ inputs.arch }}
      compiler: ${{ inputs.compiler }}
      config: ${{ inputs.config }}
      debug-info: true

  test:
    needs: build
    strategy:
      matrix:
        num_shards: [6]
        shard_index: [1, 2, 3, 4, 5, 6]
      fail-fast: false
    name: Replays ${{ matrix.shard_index }}/${{ matrix.num_shards }}
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: git clone
        uses: connorjclark/action-cached-lfs-checkout@e9e548e0068e62830582e21febff8da4bd4e8ca5
        with:
          enableCrossOsArchive: true
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12.8'
          cache: pip
      - run: pip install -r requirements.txt
      - run: mkdir -p .tmp

      - if: ${{ matrix.shard_index == 1 && inputs.from-ci-workflow }}
        name: Install Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - uses: actions/download-artifact@v4
        with:
          name: ${{ needs.build.outputs.artifact-name }}
          path: ${{ needs.build.outputs.artifact-name }}
      - name: Prepare build folder
        if: inputs.config != 'Coverage'
        uses: ferki/os-specific-run@501696f215b5f20b303228bb3e445fe898f90a41
        with:
          windows: |
            chcp 65001
            echo ("BUILD_FOLDER=$PWD/zc-extracted") >> $env:GITHUB_ENV
            mkdir zc-extracted
            cd zc-extracted
            7z x ../${{ needs.build.outputs.artifact-name }}/${{ needs.build.outputs.package-name }}
          macos: |
            echo "BUILD_FOLDER=$PWD/zc-extracted/ZQuest Classic.app/Contents/Resources" >> "$GITHUB_ENV"
            hdiutil attach -mountpoint zc-mounted ${{ needs.build.outputs.artifact-name }}/${{ needs.build.outputs.package-name }}
            mkdir zc-extracted
            cp -r "zc-mounted/ZQuest Classic.app" zc-extracted
            cp -r "zc-mounted/ZQuest Classic.app.dSYM" zc-extracted
            hdiutil unmount zc-mounted
          linux: |
            echo "BUILD_FOLDER=$PWD/zc-extracted" >> "$GITHUB_ENV"
            mkdir zc-extracted
            tar -xvzf ${{ needs.build.outputs.artifact-name }}/${{ needs.build.outputs.package-name }} -C zc-extracted
      - name: Prepare build folder
        if: inputs.config == 'Coverage'
        run: |
            echo "BUILD_FOLDER=build/Coverage" >> "$GITHUB_ENV"
            mkdir -p build
            tar -xvzf ${{ needs.build.outputs.artifact-name }}/${{ needs.build.outputs.package-name }} -C build
            cp -r build/tmp-src/* src/

      - run: sudo apt-get update && sudo apt-get install libopengl0 libglu1 lldb libdumb1
        if: ${{ contains(inputs.runs-on, 'ubuntu') }}

      # Note: Uses JIT by default, except for win32.
      - name: Run replay tests
        run: >
          bash .github/workflows/run_python.sh tests/run_replay_tests.py
          --build_folder "${{ env.BUILD_FOLDER }}"
          --build_type ${{ inputs.config }}
          --test_results_folder .tmp/test_results/${{ github.run_id }}
          --retries 1
          --ci ${{ inputs.runs-on }}_${{ inputs.arch }}
          --shard ${{ matrix.shard_index }}/${{ matrix.num_shards }}
          ${{ inputs.extra-args }}

      # Just run a few replays with JIT disabled.
      # Also, without headless.
      - if: ${{ matrix.shard_index == 1 && inputs.extra-args == '' && inputs.from-ci-workflow && inputs.arch != 'win32' }}
        name: Test w/o JIT
        run: >
          bash .github/workflows/run_python.sh tests/run_replay_tests.py
          --build_folder "${{ env.BUILD_FOLDER }}"
          --build_type ${{ inputs.config }}
          --test_results_folder .tmp/test_results/${{ github.run_id }}-nojit
          --retries 1
          --ci ${{ inputs.runs-on }}_${{ inputs.arch }}
          --filter playground
          --filter keys.zplay
          --no-jit
          --no-headless

      - name: update_auto_script_tests.py
        if: inputs.config != 'Coverage'
        run: bash .github/workflows/run_python.sh tests/update_auto_script_tests.py

      - if: ${{ matrix.shard_index == 1 && inputs.from-ci-workflow }}
        name: Updater cache
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/.tmp/test_updater/cache
          key: updater-cache-${{ inputs.runs-on }}-${{ runner.arch }}

      - if: ${{ matrix.shard_index == 1 && inputs.from-ci-workflow && !contains(inputs.runs-on, 'ubuntu') }}
        name: Archives cache
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/.tmp/archives
          key: archives-cache-${{ inputs.runs-on }}-${{ runner.arch }}

      - if: ${{ matrix.shard_index == 1 && inputs.from-ci-workflow }}
        name: Checkout zscript database
        uses: actions/checkout@v4
        with:
          # Note: this token expires annually.
          token: ${{ secrets.GH_PAT_ZSCRIPT_DATABASE }}
          repository: ZQuestClassic/zscript-database
          ref: 68f3d886d7fd929038deb729f38c440ed0250fc0
          path: ${{ github.workspace }}/.tmp/zscript-database

      - if: ${{ matrix.shard_index == 1 && inputs.from-ci-workflow }}
        name: Run Python tests
        run: bash .github/workflows/run_python.sh -m unittest discover tests
        env:
          CXX: ${{ inputs.compiler }}

      - name: Generate coverage json
        if: inputs.config == 'Coverage'
        run: bash tests/generate_coverage_report.sh
        env:
          GCOV: llvm-cov-14 gcov
      - uses: actions/upload-artifact@v4
        if: inputs.config == 'Coverage'
        with:
          name: coverage-${{ inputs.runs-on }}-${{ inputs.arch }}-${{ matrix.shard_index }}-of-${{ matrix.num_shards }}
          path: ${{ github.workspace }}/tests/.coverage/coverage.json
      - uses: actions/upload-artifact@v4
        if: inputs.config == 'Coverage' && matrix.shard_index == 1
        with:
          name: generated-source-files
          path: ${{ github.workspace }}/build/tmp-src

      # It's much faster to upload a single file than many files.
      # https://github.com/actions/upload-artifact/issues/36
      - name: Archive test results
        if: (github.event_name == 'workflow_dispatch' && !contains(inputs.extra-args, '--update')) || failure()
        shell: bash
        run: |
          if [[ -d ".tmp/test_results" ]] ; then
            cd .tmp/test_results
            bash ../../.github/workflows/run_python.sh -m tarfile -c ../test_results.tar .
          fi
      - uses: actions/upload-artifact@v4
        if: (github.event_name == 'workflow_dispatch' && !contains(inputs.extra-args, '--update')) || failure()
        with:
          name: replays-${{ inputs.runs-on }}-${{ inputs.arch }}-${{ matrix.shard_index }}-of-${{ matrix.num_shards }}
          path: ${{ github.workspace }}/.tmp/test_results.tar

      - uses: actions/upload-artifact@v4
        if: contains(inputs.extra-args, '--update')
        with:
          name: replays-${{ inputs.runs-on }}-${{ inputs.arch }}-${{ matrix.shard_index }}-of-${{ matrix.num_shards }}
          path: ${{ github.workspace }}/.tmp/test_results/**/updated
