name: Test
run-name: Test (${{ inputs.runs-on }}, ${{ inputs.arch }}) ${{ inputs.extra-args }}

on:
  workflow_dispatch:
    inputs:
      runs-on:
        type: string
        description: 'runs-on'
      arch:
        type: string
        description: 'arch'
      compiler:
        type: string
        description: 'compiler'
      config:
        type: choice
        description: 'config'
        default: 'Release'
        options: ['Release', 'Debug', 'RelWithDebInfo', 'Coverage']
      extra-args:
        type: string
        description: 'extra-args'
  workflow_call:
    inputs:
      runs-on:
        type: string
        required: true
      arch:
        type: string
        required: true
      compiler:
        type: string
        required: true
      config:
        type: string
        required: true
      extra-args:
        type: string

env:
  PYTHONUNBUFFERED: '1'

jobs:
  build:
    # See https://github.com/community/community/discussions/40777
    # uses: ./.github/workflows/build.yml
    uses: ArmageddonGames/ZQuestClassic/.github/workflows/build.yml@main
    with:
      runs-on: ${{ inputs.runs-on }}
      arch: ${{ inputs.arch }}
      compiler: ${{ inputs.compiler }}
      config: ${{ inputs.config }}

  test:
    needs: ["build"]
    strategy:
      matrix:
        num_shards: [6]
        shard_index: [1, 2, 3, 4, 5, 6]
      fail-fast: false
    name: Replays ${{ matrix.shard_index }}/${{ matrix.num_shards }}
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: git clone
        uses: nschloe/action-cached-lfs-checkout@d6efedcb8fc03d006e1e77743718e26234ed2c97
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10' 
      - if: ${{ !contains(inputs.runs-on, 'ubuntu') }}
        run: pip install requests PyGithub==1.58.2 requests discord.py watchdog Pillow intervaltree cutie
      - if: ${{ contains(inputs.runs-on, 'ubuntu') }}
        run: sudo pip install requests PyGithub==1.58.2 requests discord.py watchdog Pillow intervaltree cutie
      - if: inputs.config == 'Coverage'
        run: sudo pip install gcovr

      - uses: actions/download-artifact@v3
        with:
          name: ${{ needs.build.outputs.artifact-name }}
          path: ${{ needs.build.outputs.artifact-name }}
      - name: Prepare build folder
        if: inputs.config != 'Coverage'
        uses: ferki/os-specific-run@501696f215b5f20b303228bb3e445fe898f90a41
        with:
          windows: |
            chcp 65001
            echo ("BUILD_FOLDER=zc-extracted") >> $env:GITHUB_ENV
            mkdir zc-extracted
            cd zc-extracted
            7z x ../${{ needs.build.outputs.artifact-name }}/${{ needs.build.outputs.package-name }}
          macos: |
            echo "BUILD_FOLDER=zc-extracted/Contents/Resources" >> "$GITHUB_ENV"
            hdiutil attach -mountpoint zc-mounted ${{ needs.build.outputs.artifact-name }}/${{ needs.build.outputs.package-name }}
            cp -r zc-mounted/ZeldaClassic.app zc-extracted
            hdiutil unmount zc-mounted
          linux: |
            echo "BUILD_FOLDER=zc-extracted" >> "$GITHUB_ENV"
            mkdir zc-extracted
            tar -xvzf ${{ needs.build.outputs.artifact-name }}/${{ needs.build.outputs.package-name }} -C zc-extracted
      - name: Prepare build folder
        if: inputs.config == 'Coverage'
        run: |
            echo "BUILD_FOLDER=build/Coverage" >> "$GITHUB_ENV"
            tar -xvzf ${{ needs.build.outputs.artifact-name }}/${{ needs.build.outputs.package-name }} -C build

      - run: sudo apt-get update && sudo apt-get install libopengl0 libglu1
        if: ${{ contains(inputs.runs-on, 'ubuntu') }}

      # Note: Uses JIT by default, except for win32.
      - name: Run replay tests
        run: >
          bash .github/workflows/run_python.sh tests/run_replay_tests.py
          --build_folder ${{ env.BUILD_FOLDER }}
          --test_results_folder .tmp/test_results
          --retries 1
          --ci ${{ inputs.runs-on }}_${{ inputs.arch }}
          --shard ${{ matrix.shard_index }}/${{ matrix.num_shards }}
          ${{ inputs.extra-args }}

      # Just run a few replays with JIT disabled.
      - if: ${{ matrix.shard_index == 1 && inputs.extra-args == '' && inputs.arch != 'win32' }}
        name: Test w/o JIT
        run: >
          bash .github/workflows/run_python.sh tests/run_replay_tests.py
          --build_folder ${{ env.BUILD_FOLDER }}
          --retries 1
          --ci ${{ inputs.runs-on }}_${{ inputs.arch }}
          --filter playground
          --filter keys.zplay
          --no-jit

      - if: ${{ matrix.shard_index == 1 && inputs.extra-args == '' && inputs.config != 'Coverage' }}
        name: Test replay system
        run: bash .github/workflows/run_python.sh tests/test_replays.py

      - if: ${{ matrix.shard_index == 1 && inputs.extra-args == '' && inputs.config != 'Coverage' }}
        name: Test zscript
        run: bash .github/workflows/run_python.sh tests/test_zscript.py

      - if: ${{ matrix.shard_index == 1 && inputs.extra-args == '' && inputs.config != 'Coverage' }}
        name: Test zquest
        run: bash .github/workflows/run_python.sh tests/test_zquest.py

        # TODO why does this result in "could not open file: test.zplay" on Windows?
      - if: ${{ matrix.shard_index == 1 && inputs.extra-args == '' && runner.os != 'Windows' && inputs.config != 'Coverage' }}
        name: Test recording
        run: |
          cd ${{ env.BUILD_FOLDER }}
          bash ${{ github.workspace }}/.github/workflows/run_zelda.sh -replay-exit-when-done -record test.zplay -frame 100 -replay-debug -test modules/classic/classic_1st.qst 0 119
          bash ${{ github.workspace }}/.github/workflows/run_zelda.sh -v0 -replay-exit-when-done -assert test.zplay
      # Simply open ZQuest with the new quest template.
      - if: ${{ matrix.shard_index == 1 && inputs.extra-args == '' && runner.os != 'Windows' && inputs.config != 'Coverage' }}
        name: Test ZQuest File->New
        run: |
          cd ${{ env.BUILD_FOLDER }}
          bash ${{ github.workspace }}/.github/workflows/run_zquest.sh -s -q 'modules/classic/default.qst'
      # Resave classic_1st.qst and assert classic_1st.zplay, to make sure the loading/saving code is not introducing bugs.
      - if: ${{ matrix.shard_index == 1 && inputs.extra-args == '' && runner.os != 'Windows' && inputs.config != 'Coverage' }}
        name: Test saving qst
        run: |
          cd ${{ env.BUILD_FOLDER }}
          bash ${{ github.workspace }}/.github/workflows/run_zquest.sh -s -copy-qst modules/classic/classic_1st.qst tmp.qst
          mv tmp.qst modules/classic/classic_1st.qst
          bash ${{ github.workspace }}/.github/workflows/run_zelda.sh -s -v0 -replay-exit-when-done -assert ${{ github.workspace }}/tests/replays/classic_1st.zplay

      - name: Generate coverage json
        if: inputs.config == 'Coverage'
        run: bash tests/generate_coverage_report.sh
        env:
          GCOV: llvm-cov-14 gcov
      - uses: actions/upload-artifact@v3
        if: inputs.config == 'Coverage'
        with:
          name: coverage-${{ inputs.runs-on }}-${{ inputs.arch }}-${{ matrix.shard_index }}-of-${{ matrix.num_shards }}
          path: ${{ github.workspace }}/tests/.coverage/coverage.json

      - uses: actions/upload-artifact@v3
        if: github.event_name == 'workflow_dispatch' || failure()
        with:
          name: replays-${{ inputs.runs-on }}-${{ inputs.arch }}-${{ matrix.shard_index }}-of-${{ matrix.num_shards }}
          path: ${{ github.workspace }}/.tmp/test_results

      - uses: actions/upload-artifact@v3
        if: contains(inputs.extra-args, '--update')
        with:
          name: replays-${{ inputs.runs-on }}-${{ inputs.arch }}-${{ matrix.shard_index }}-of-${{ matrix.num_shards }}
          path: ${{ github.workspace }}/.tmp/test_results/updated
